/* PC high */
@media (min-width: 1699px) {
    .hide-on-pc {
        display: none !important;
    }
}


/* PC only */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }

}

/* Tablet to PC low resolution */
@media (min-width: 985px) and (max-width: 1200px) {
    .hide-on-pc {
        display: none !important;
    }

    
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }

    .reverse-mobile{
        flex-direction: column !important;
        display: flex;
    }

    .flex-column-mobile {
        flex-direction: column !important;
    }

    .grid-m-1{
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .grid-m-2{
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .centering-mobile{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .header-main-icons-item-content{
        display: none;
    }

    .service-content{
        flex-direction: column;
    }

    .header-logo {
        height: 50px;
    }

    .product-form__buttons,
    .breadcrumb-wrapper{
        flex-direction: column;
    }

    .shopify-payment-button,
    .shopify-payment-button__button{
        width: 100%;
    }

    .login {
        padding: 10px 20px;
    }

    .header-main-wrapper{
        flex-wrap: wrap;
        padding-top: 0;
    }

    .header-search{
        order: 3;
        width: 100%;
        margin: 5px 0 0 0;
        flex: 1;
        height: 40px;
    }

    .header-search-dropdown{
        width: 33%;
        font-size: 12px;
        padding: 8px;
    }

    .header-search-button{
        padding: 15px;
        padding-right: 6px;
    }
    
    .header-search-button p{
        display: none;
    }

    .header-main-logo{
        width: 60px;
    }

    .header-main-icons-item:first-child{
        display: none;
    }

    .header-main-icons-item-icon{
        font-size: 24px;
        margin-right: 0px;
    }

    .ttcontent{
        width: 100%;
        border-right-color: transparent !important;
        border-bottom: 1px solid #ddd;
    }

    .product-section{
        padding: 30px 0 10px;
        background-image: none;
    }

    .product-section .products{
        padding: 0;
    }

    .content-name{
        font-size: 16px;
    }

    .wallet-table-li{
        flex-wrap: wrap;
        padding: 20px 10px;
    }

    .wallet-table-quantity,
    .wallet-table-name {
        width: 50%;
    }

    .wallet-table{
     border: none;   
    }

    .coin-balance-primary, .coin-balance-usd{
        text-align: right;
    }

    .coin-name .coin-balance-usd{
        display: none;
    }

    .coin-name .coin-balance-primary {
        margin-bottom: 0;
    }

    .action-list{
        margin-top: 10px;    
    }

    .wallet-table-actions{
        width: 100%;
    }
    
    .action-list{
        justify-content: space-between;
    }

    .action-item{
        width: 31%;
        text-align: center;
    }

    .action-item:nth-child(1) {
        background-color: #1777BC;
        color: #fff;
    }

    .action-item:nth-child(2) {
        border: 1px solid #1777BC;
    }

    .action-item:nth-child(3) {
        background-color: #bebdbd;
        border-color: #bebdbd;
        color: #fff;
    }

    .wallet-table-title{
        display: none !important;
    }

    .account-action{
        left: -100%;
    }

    .bags{
        width: 85vw;
    }

    .bags-list{
        padding: 0 10px;
    }

    .bags-name{
        width: 90%;
    }

    .bags-img {
        width: 140px;
        height: 70px;
    }
}


/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-tl{
        display: none !important;
    }

    
}

/* Mobile Only */
@media (max-width: 739px) {
    .hidden-m {
        display: none !important;
    }

    .token-infor:first-child{
        border: none;
    }
}

/* 500*/
@media (min-width: 500px) and (max-width: 742px) {
    .hidden-500plus {
        display: none !important;
    }
}


@media (max-width: 500px) {
    .hidden-500{
        display: none !important;
    }
}


@media (max-width: 375px) {
    .main-content{
        width: 100% !important;
    }
}

