@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* UTILS */
p {
  margin: 0;
}

ul {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

/* CUSTOM */
@media (min-width:768px) {
  .container {
    max-width: 750px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 970px !important
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1170px !important
  }
}

@media (min-width:1300px) {
  .container {
    max-width: 1260px !important;
  }
}

@media (min-width:1330px) {
  .container {
    max-width: 1300px !important
  }
}

@media (min-width:1430px) {
  .container {
    max-width: 1400px !important
  }
}

@media (min-width:1530px) {
  .container {
    max-width: 1500px !important
  }
}

@media (min-width:1630px) {
  .container {
    max-width: 1600px !important
  }
}

@media (min-width:1770px) {
  .container {
    max-width: 1740px !important
  }
}

body {
  background: #f7f7f7;
  font-family: 'Rubik', sans-serif;
}

.top-header-content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.content-name {
  font-size: 20px;
  padding: 0px 10px 10px;
  color: #000;
  font-weight: 600;
  margin: 10px 0 0px;
}

.service-item {
  display: flex;
}

.service-title {
  font-weight: 600;
  color: #000;
}

.products {
  padding-bottom: 20px;
}

.products-list-head {
  margin-bottom: 10px;
}

.ttcontent {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.service-content {
  padding: 30px;
  border: 1px solid #ddd;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-around;
}

.products-list-control {
  /* margin-bottom: 10px; */
}

.products-list-control-button {
  padding: 10px;
  color: #000;
}

.product-item {
  overflow: visible;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;

}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button {
  padding: 12px 8px;
  background-color: #1677BC;
  margin-top: 6px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
}

.collection_cat_item a {
  padding: 10px;
  border: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 170px;
}

.collection_img {
  height: 70px;
  width: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #dddddd8a;
  border-radius: 50%;
  margin-bottom: 20px;
}

.collection_title {
  font-weight: 600;
  margin-bottom: 10px;
}

.collection_cat_item a .desc {
  margin-bottom: 0;
  text-align: center;
}

.banner {
  /* margin-top: 20px; */
}

.banner-img {
  overflow: hidden;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-logo {
  height: 80px;
  width: 90px !important;
}

.header-logo a,
.header-logo img {
  height: 100%;
  width: auto;
}

/* .contact,
.myaccount{
  width: 200px !important;
} */

.breadcrumb-wrap {
  background-color: #e9ecef;
  padding: 0;
  margin-top: 20px;
}

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;

}

.breadcrumb {
  background-color: transparent;
}

.product-form__buttons {
  display: flex;
}

.detail-img {
  border: 1px solid #ddd;
}

.pagecontent {
  margin-bottom: 20px;
}

.login {
  padding: 40px;
  border: 1px solid #ddd;
  margin: 40px 12px;
  background-color: #fff;
}

.login input {
  margin-top: 10px;
}

.tt-innerpagetitle {
  text-align: center;
}

/* MAIN */
.header-top {
  background-color: rgb(234, 234, 234);
  padding: 7px 0 7px;
}

.header-top-item {
  padding-right: 10px;
  font-size: 14px;
}

.header-top-item:not(:first-child) {
  padding-left: 10px;
}

.header-top-item:not(:last-child) {
  border-right: 1px solid #ddd;
}

.header-top-dropdown-selected {
  padding-left: 5px;
}

.header-main-logo {
  width: 70px;
}

.header-main-wrapper {
  padding: 10px 0;
}

.header-main-logo img {
  width: 100%;
}

.header-search {
  flex: 1;
  border-radius: 4px;
  margin: 0 5%;
  padding: 2px;
  max-width: 900px;
  border: 2px solid #ddd;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-search-dropdown {
  padding: 10px;
  padding-left: 15px;
  width: 20%;
}

.header-search-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: #313C46;
  border-radius: 2px;
  color: #fff;
}

.header-search-button i {
  margin-right: 8px;
}

.header-main-icons-item {
  padding: 10px;

  display: flex;
  align-items: center;
}

.header-main-icons-item-icon {
  font-size: 30px;
  margin-right: 20px;
  position: relative;
}

.header-main-icons-item-title {
  font-weight: 600;
  font-size: 14px;
}

.header-main-icons-item-desc {
  font-size: 14px;
  color: rgb(102, 102, 102);
}

.header-nav {
  background-color: #1777BC;
  padding: 13px 0;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-nav-item,
.header-nav-right,
.header-nav-left {
  display: flex;
  align-items: center;
  color: #fff;
}

.header-nav-left {
  width: 20%;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  max-width: 220px;
  justify-content: start;
}

.header-nav-right-icon {
  font-size: 24px;
  padding: 0 10px;
}

.header-nav-item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.header-nav-item-name {
  padding: 0 5px;
  font-size: 14px;
}

.header-nav-item-icon {
  font-size: 28px;
  margin-right: 10px;
}

.header-nav-left-title {
  margin: 0 20px;
}

.header-nav-right-icon:not(:last-child) {
  border-right: 1px solid #ddd;
}

.header-search-dropdown-selected {
  display: flex;
  border-right: 1px solid #ddd;
}

.header-main-icons-item-icon-noti {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translate(50%, -50%);

  font-size: 13px;
  background-color: #FFCB02;
  height: 16px;
  width: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.header-search-input {
  flex: 1;
  min-width: 180px;
}

.header-search-input input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.section {
  margin: 30px 0;
}

.wrapper {
  background-color: #fff;
  /* padding-bottom: 20px; */
}

.service-content {
  padding: 0;
  justify-content: space-between;
}

.ttcontent {
  width: 20%;
}

.ttcontent:not(:last-child) {
  border-right: 1px solid #ddd;
}

.shop-wrapper {
  background-color: #fff;
}

.product {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  padding-bottom: 25px;
  border: 1px solid #ddd;
  transition: all 0.5s;

  position: relative;
}

.product.vertical::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 101%;
  height: 12%;
  border: 1px solid #ddd;
  border-top: none;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.product.vertical:hover {
  border-bottom: none;
}

.product.vertical:hover::before {
  opacity: 1;
  bottom: -7.5%;
}

.product-img {
  position: relative;
  overflow: hidden;
  height: 193px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-coundown {
  position: absolute;
}

.product-img-second {
  position: absolute;
  top: -100%;
  left: 50%;

  height: 100%;
  width: 100%;

  transform: translate(-50%, -50%);

  transition: all 0.5s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img-second img {
  height: 100%;
  width: auto;
}

.product-tag {
  position: absolute;
  top: 10%;
  left: -100%;

  background-color: #FFB507;
  padding: 4px;
  color: #000;

  transition: all 0.5s ease;
}

.product-colors {
  bottom: 10%;
  left: -100%;
  position: absolute;

  display: flex;
  align-items: center;

  transition: all 0.5s ease;
}

.product-color {
  height: 10px;
  width: 10px;

  border-radius: 50%;
}

.product-color:not(:last-child) {
  margin-right: 4px;
}

.product-action {
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translate(-50%, -50%);

  transition: all 0.5s ease;
}

.product-action-icon {
  height: 30px;
  width: 30px;

  background-color: #ddd;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease;
}

.product-action-icon:hover {
  background-color: #1777BC;
  color: #fff;
}

.product-action-icon:not(:last-child) {
  margin-bottom: 4px;
}

.product-name {
  color: #273c99;
  font-weight: 500;
  margin: 10px 0;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price-current {
  color: #c51f34;
  font-weight: 600;
  font-size: 16px;
  margin-right: 2px;
}

.product-price-percentsale {
  color: #273c99;
  font-weight: 500;
  margin-right: 4px;
}

.product-price-retail {
  text-decoration: line-through;
  color: #a5a4a4;
}


.product-rating-icon {
  color: #ffb507;
}

.product-rating-icon {
  margin-right: 4px;
}

.product:hover .product-img-second {
  top: 50%;
}

.product:hover .product-action {
  right: 0%;
}

.product:hover .product-tag {
  left: 0;
}

.product:hover .product-colors {
  left: 0;
}

.product:hover .product-coundown {
  opacity: 0;
}

.product-infor {
  position: relative;
}

.addtocard {
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 140%);
  width: 100%;
  padding: 10px;
  background-color: #c51f34;
  transition: all 0.2s ease-in-out;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addtocard:hover {
  background-color: gray;
}

.addtocard i {
  margin-right: 4px;
}

.product.vertical:hover .addtocard {
  opacity: 1;

  transform: translate(-50%, 120%);
}

.product-coundown {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px 1px rgb(255 0 0 / 10%);
}

.product-coundown-icon {
  margin-right: 4px;
}

.product-coundown-time-number {
  margin: 0 4px;
  font-weight: 600;
  font-size: 12px;
}

.product-coundown-time-seconds {
  color: #c51f34;
}

.new-product {
  /* border: 1px solid #ddd; */
  padding-bottom: 25px;
}

.banner-list {
  margin-bottom: 30px;
}

.deal-time {
  padding: 4px 16px;
  background-color: #c51f34;
  color: #fff;
  height: 40px;
}

.deal-time .product-coundown-time-seconds {
  color: #fff;
}

.deal-time .product-coundown-icon {
  margin-left: 10px;
}

.addtocard-fix {
  position: relative;
  opacity: 1;
  transform: translate(0, 0);
  bottom: 0;
  left: 0;
  margin-top: 10px;
}

.available {
  margin-top: 10px;
}

.available-quantity {
  color: #50AC43;
}

.available-process {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 5px;
  position: relative;
}

.available-process-percent {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  background-color: #50AC43;
  transition: all 0.5s ease;
}

.product.horizontal {
  padding: 60px 10px;
}

.swiper.deals-product {
  border: 2px solid red;
}

.content-name.active,
.content-name:hover {
  color: #c51f34;
  cursor: pointer;
}

.product-section {
  background-image: url(https://cdn.shopify.com/s/files/1/0633/2078/5125/t/8/assets/category-bg.png?v=90761121106514155491656319825);
  background-size: contain;
  background-position: -200px 30px;
  background-repeat: no-repeat;
  padding: 40px 0;
  margin: 30px 0;
  background-color: #F5F5F5;
}

.section-product .product.vertical {
  background-color: #fff;
}

.section-product {
  /* border: 1px solid #ddd; */
  padding-bottom: 25px;
}

.article__grid__inner {
  padding-bottom: 20px;
}

.header-top-dropdown {
  position: relative;
}

.header-top-dropdown-content {
  position: absolute;
  top: 110%;
  left: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
  z-index: 2;
  transition: all 0.5s ease-out;
  opacity: 0;

}

.header-top-item:hover .header-top-dropdown-content {
  opacity: 1;
  cursor: pointer;
  transform: translateX(-50%) scaleY(1);
}

.header-top-dropdown-item {
  padding: 6px 8px;
  min-width: 80px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: start;
}

.header-top-dropdown-item:hover {
  cursor: pointer;
  background-color: #ddd;
}

.header-top-dropdown-icon {
  width: 30px;
  height: 20px;
  margin-right: 4px;
}

.header-top-dropdown-icon img {
  height: 100%;
  width: auto;
}

.header-nav-main {
  flex: 1;
}

.header-nav-item-down {
  font-size: 10px;
}

.header-nav-wrap {
  position: absolute;
  top: 177%;
  left: 0;
  z-index: 2;
  background-color: #fff;
  padding: 10px 30px;
  display: flex;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
  transform-origin: top;
}

.header-nav-wrap::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: transparent;
}

.header-nav-menu {
  min-width: 160px;
  margin-right: 20px;
}

.header-nav-title {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.header-nav-linklist li {
  font-size: 14px;
  padding: 5px 0;
}

.header-nav-linklist li:hover a {
  color: #1777BC;
}

.header-nav-item:hover {
  cursor: pointer;
}

.header-nav-item:hover .header-nav-wrap {
  opacity: 1;
  transform: scaleY(1);
}

.header-main-icons-item {
  position: relative;
}

.account-action {
  position: absolute;
  top: 130%;
  left: 0;

  background-color: #fff;

  z-index: 2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
  transform-origin: top;
}

.account-action-item {
  padding: 6px 16px;
}

.account-action-item i {
  margin: 8px;
}

.account-action-item:hover {
  background-color: #ededed;
  cursor: pointer;
}

.header-main-icons-item-account:hover .account-action {
  opacity: 1;
  transform: scaleY(1);
}

.header-main-icons-item:hover {
  cursor: pointer;
}

.header-main-icons-item:hover .header-main-icons-item-title,
.header-main-icons-item:hover .header-main-icons-item-icon {
  color: #1877BC;
}

.bags {
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  background-color: #fff;
  height: 100vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  width: 25vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bags.show {
  right: 0;
}

.bags-header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  padding: 30px 30px 0;
}

.bags-list {
  flex: 1;
  margin-top: 30px;
  padding: 0 30px;
}

.bags-item {
  position: relative;
}

.bags-img {
  width: 180px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ddd;

  overflow: hidden;

  object-fit: cover;

  margin-right: 10px;
}

.bags-item-close {
  position: absolute;
  top: 4px;
  right: 0px;
  color: #dddddd;
}

.bags-name {
  width: 80%;
  color: #273c99;
  font-size: 13px;
  font-weight: 500;

  margin-bottom: 10px;
}

.bags-item .product-price-current {
  font-size: 14px;
}

.bags-control {
  background-color: #dddddd42;
  padding: 30px;
}

.primary-button.gray {
  background-color: #9f9f9f;
}

.primary-button.green {
  background-color: #2fb100;
}

.bags-close {
  cursor: pointer;
  padding: 4px;
}

.primary-title-text {
  font-size: 30px;
  /* margin-top: 20px; */
  padding: 20px 0;
  color: #fff;
  font-weight: 600;
  /* border-top: 1px solid #ddd; */
}

.wallet-total,
.primary-title {
  background-color: #1777BC;
  /* height: 100%; */
}

.wallet-total {
  padding: 20px;
  color: #fff;
}

.wallet-total-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.wallet-total-value {
  font-size: 28px;
  font-weight: 600;
}

.wallet-search {
  background-color: #fff;
  padding: 8px 10px;
  margin-top: 20px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}

.wallet-search-input {
  border: none !important;
  outline: none;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.wallet-search-icon {
  padding: 0 5px;
}

.wallet-table-quantity,
.wallet-table-name {
  width: 20%;
}

.wallet-table-actions {
  width: 60%;
  text-align: right;
}

.wallet-table {
  border: 1px solid #b7b7b7;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 5px;
  overflow: hidden;
}

.wallet-table-li {
  padding: 20px 20px;
  transition: all 0.5s ease;
}

.wallet-table-li:hover {
  cursor: pointer;
  background-color: #ccedff46;
}

.wallet-table-li:not(:last-child) {
  border-bottom: 1px solid #cdcdcd;
}

.wallet-table-title {
  font-weight: 600;
  background-color: #EBECF0;
}

.coin-name-img {
  width: 20px;
  margin-right: 15px;
}

.coin-balance-primary {
  font-weight: 500;
  color: #000;
  font-size: 16px;
  margin-bottom: 5px;
}

.action-list {
  justify-content: end;
}

.action-item {
  padding: 10px 10px;
  color: #1777BC;
  font-weight: 500;
  transition: all 0.4s ease;
  border-radius: 4px;
}

.action-item:hover {
  cursor: pointer;
  background-color: #ccedff;
}

.deposit-title {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}

.deposit-decs {
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.deposit-decs i {
  color: #308CD5;
  margin-right: 10px;
  padding-top: 2px;
}

.deposit-wallet {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.deposit-address {
  color: #1777BC;
  font-weight: 600;
  font-size: 16px;
}

.deposit-coppy-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #1777BC;
  color: #fff;
  text-align: center;
}

.deposit-qr img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.deposit-history-btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1777BC;
  color: #1777BC;
  text-align: center;
  transition: all 0.5s linear;
}

.deposit-history-btn:hover {
  cursor: pointer;
  background-color: #1777BC;
  color: #fff;
}

.back-btn {
  color: #000;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000 !important;
  text-align: center;
  transition: all 0.5s linear;
  display: inline-flex;
}

.back-btn i {
  margin-right: 10px;
}

.deposit-decs.colored {
  color: #1777BC;
}

.deposit input,
.deposit select {
  padding: 12px 15px;
  margin-bottom: 30px;
}

.back-btn:hover {
  color: #1777BC !important;
  border-color: #1777BC;
}

.history-tab {
  border-bottom: 1px solid #ddd;
}

.history-tab-item {
  padding: 15px 15px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(94, 88, 98);
  font-size: 15px;
  border-bottom: 2px solid #ffffff;
}

.history-tab-item.active {
  color: #1777BC;

  border-bottom: 2px solid #1777BC;
}

.history-content{
  min-height: 250px;
}

.history-content-item {
  padding: 20px 10px ;
  border-bottom: 1px solid #dddddd91;
}

.history-content-item-box div {
  margin-bottom: 15px;
}

.history-balance {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.history-status span {
  font-size: 13px;
  padding: 7px;
  font-weight: 500;
}

.history-status span.success {
  color: rgb(86, 230, 86);
  background-color: rgb(236, 252, 230);
}

.history-status span.failed {
  color: rgb(230, 86, 86);
  background-color: rgb(249, 238, 236);
}

.history-content-list {
  display: none;
}

.history-content-list.active {
  display: block;
}

.empty {
  padding: 20px;
}

.bags-header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 15px 0;
}